/.idea/
/out/
/java-core/build/
/java-core/.gradle/
/java-core/gradle/wrapper/
/rxjava/gradle/wrapper/
/rxjava/.gradle/
/rxjava/build/
/java-parallel/build/
/java-parallel/.gradle/
/java-parallel/.gradle/
/general-excercise/.gradle/
/general-excercise/build/
