/.idea/
/out/
/java-core/build/
/java-core/.gradle/
/java-core/gradle/wrapper/
/rxjava/gradle/wrapper/
/rxjava/.gradle/
/rxjava/build/
/java-parallel/build/
/java-parallel/.gradle/
/java-parallel/.gradle/
/general-excercise/.gradle/
/general-excercise/build/

/java-module/build/
/java-module/.gradle/

/java-module/consumer/build/
/java-module/library/build/
/java-11-example/build/
/java-11-example/.gradle/
/java-17-examples/.gradle/
/java-17-examples/build/
