/.idea/
/out/
/java-core/build/
/java-core/.gradle/
/java-core/gradle/wrapper/
/lib-examples/rxjava/gradle/wrapper/
/lib-examples/rxjava/.gradle/
/lib-examples/rxjava/build/
/java-parallel/build/
/java-parallel/.gradle/
/java-parallel/.gradle/
/general-excercise/.gradle/
/general-excercise/build/

/java-module/build/
/java-module/.gradle/

/java-module/consumer/build/
/java-module/library/build/
/java-11-example/build/
/java-11-example/.gradle/
/java-17-examples/.gradle/
/java-17-examples/build/
/lib-examples/java-faker/build/classes/java/main/org/example/Main.class
/lib-examples/java-faker/build/tmp/compileJava/previous-compilation-data.bin
/lib-examples/java-faker/.gradle/8.8/checksums/checksums.lock
/lib-examples/java-faker/.gradle/8.8/checksums/md5-checksums.bin
/lib-examples/java-faker/.gradle/8.8/checksums/sha1-checksums.bin
/lib-examples/java-faker/.gradle/8.8/dependencies-accessors/gc.properties
/lib-examples/java-faker/.gradle/8.8/executionHistory/executionHistory.bin
/lib-examples/java-faker/.gradle/8.8/executionHistory/executionHistory.lock
/lib-examples/java-faker/.gradle/8.8/fileChanges/last-build.bin
/lib-examples/java-faker/.gradle/8.8/fileHashes/fileHashes.bin
/lib-examples/java-faker/.gradle/8.8/fileHashes/fileHashes.lock
/lib-examples/java-faker/.gradle/8.8/fileHashes/resourceHashesCache.bin
/lib-examples/java-faker/.gradle/8.8/gc.properties
/lib-examples/java-faker/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/lib-examples/java-faker/.gradle/buildOutputCleanup/cache.properties
/lib-examples/java-faker/.gradle/buildOutputCleanup/outputFiles.bin
/lib-examples/java-faker/.gradle/vcs-1/gc.properties
/lib-examples/java-faker/.gradle/file-system.probe
/java-date-time/.gradle/8.8/checksums/checksums.lock
/java-date-time/.gradle/8.8/dependencies-accessors/gc.properties
/java-date-time/.gradle/8.8/executionHistory/executionHistory.bin
/java-date-time/.gradle/8.8/executionHistory/executionHistory.lock
/java-date-time/.gradle/8.8/fileChanges/last-build.bin
/java-date-time/.gradle/8.8/fileHashes/fileHashes.bin
/java-date-time/.gradle/8.8/fileHashes/fileHashes.lock
/java-date-time/.gradle/8.8/fileHashes/resourceHashesCache.bin
/java-date-time/.gradle/8.8/gc.properties
/java-date-time/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/java-date-time/.gradle/buildOutputCleanup/cache.properties
/java-date-time/.gradle/buildOutputCleanup/outputFiles.bin
/java-date-time/.gradle/vcs-1/gc.properties
/java-date-time/.gradle/file-system.probe
/java-date-time/build/classes/java/main/org/omidmohebbise/java/date/time/Main.class
/java-date-time/build/tmp/compileJava/compileTransaction/stash-dir/Main.class.uniqueId0
/java-date-time/build/tmp/compileJava/previous-compilation-data.bin
/java-date-time/.gradle/8.8/checksums/md5-checksums.bin
/java-date-time/.gradle/8.8/checksums/sha1-checksums.bin
/java-date-time/.gradle/
/java-date-time/build/
/java-25-examples/.gradle/8.14/checksums/checksums.lock
/java-25-examples/.gradle/8.14/checksums/md5-checksums.bin
/java-25-examples/.gradle/8.14/checksums/sha1-checksums.bin
/java-25-examples/.gradle/8.14/executionHistory/executionHistory.bin
/java-25-examples/.gradle/8.14/executionHistory/executionHistory.lock
/java-25-examples/.gradle/8.14/fileChanges/last-build.bin
/java-25-examples/.gradle/8.14/fileHashes/fileHashes.bin
/java-25-examples/.gradle/8.14/fileHashes/fileHashes.lock
/java-25-examples/.gradle/8.14/fileHashes/resourceHashesCache.bin
/java-25-examples/.gradle/8.14/gc.properties
/java-25-examples/.gradle/9.0.0/checksums/checksums.lock
/java-25-examples/.gradle/9.0.0/checksums/md5-checksums.bin
/java-25-examples/.gradle/9.0.0/checksums/sha1-checksums.bin
/java-25-examples/.gradle/9.0.0/executionHistory/executionHistory.bin
/java-25-examples/.gradle/9.0.0/executionHistory/executionHistory.lock
/java-25-examples/.gradle/9.0.0/fileChanges/last-build.bin
/java-25-examples/.gradle/9.0.0/fileHashes/fileHashes.bin
/java-25-examples/.gradle/9.0.0/fileHashes/fileHashes.lock
/java-25-examples/.gradle/9.0.0/fileHashes/resourceHashesCache.bin
/java-25-examples/.gradle/9.0.0/gc.properties
/java-25-examples/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/java-25-examples/.gradle/buildOutputCleanup/cache.properties
/java-25-examples/.gradle/buildOutputCleanup/outputFiles.bin
/java-25-examples/.gradle/vcs-1/gc.properties
/java-25-examples/.gradle/file-system.probe
/java-25-examples/build/classes/java/main/com/omidmohebbise/Main.class
/java-25-examples/build/classes/java/main/com/omidmohebbise/VectorAdd$Op2.class
/java-25-examples/build/classes/java/main/com/omidmohebbise/VectorAdd.class
/java-25-examples/build/reports/problems/problems-report.html
/java-25-examples/build/tmp/compileJava/previous-compilation-data.bin
